#compta-title-and-return {
	display: flex;
}

#compta-title-cropped {
	min-width: 30em;
	width: 100%
}

.compta-return-button {
	width: 12em;
}

#compta-nav {
	display: flex;
	min-width: 30em;
}

.compta-large-button-container {
	width: 40em;
	text-align: center;
	background-color: #FFD895
}

.compta-large-button-container:hover {
	background-color: #FF9999;
}

.compta-option-activated {
	background-color: #FF6060;
}

input.compta-nav-option {
	background-color: transparent;
	min-width: 8em;
	width: 100%;
	height: 4em;
	border: none;
}


#compta-table {
	width: 100%;
	margin-top: 1em;
}

tr.ligne-compta:nth-child(even) {background: #FFF}
tr.ligne-compta:nth-child(odd) {background: #DDD}

td.compta-form-montant {
	width: 7em;
	min-width: 7em;
	text-align: right;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-right: 0.5em;
}

td.compta-form-montant-double {
	width: 14em;
	min-width: 14em;
	text-align: right;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-right: 0.5em;
}

th.compta-form-montant {
	min-width: 5.5em;
	text-align: right;
	padding-top: 0.6em;
	padding-right: 0.5em;
}

th.compta-form-montant-double {
	min-width: 11em;
	text-align: right;
	padding-top: 0.6em;
	padding-right: 0.5em;
}

.compta-form-montant input {
	width: 7em;
	text-align: right;
}

th.compta-form-montant div {
	justify-content: flex-end;
}

.compta-form-poste {
	width: 4em;
	text-align: left;
	padding-right: 0.5em;
}

.compta-deblocage {
	font-style: italic;
}

td.compta-form-validate {
	width: 5.5em;
}

#id_date {
	width: 6.4em;
}

#id_reference {
	width: 6em;
}

td.compta-form-date {
	width: 5em;
	text-align: center;
}

th.compta-form-date {
	padding-left: 0.7em;
}

th.compta-form-reference{
	padding-left: 0.8em;
	padding-right: 0.2em;
}

td.compta-form-reference {
	padding-left: 0.8em;
}

.compta-form-description {
	padding-left: 0.3em;
	padding-right: 0.5em;
	min-width: 17em;
	width: 100%;
}

#id_description {
	width: 100%;
}

#id_commentaire {
	width: 100%;
}

.delete_icon {
	width: 1em;
	margin-left: 1em;
}

.edit_icon {
	margin-left: 1em;
}

.lock_icon {
	margin-right: 0.3em;
}

.blank_icon {
	margin-right: 0.3em;
}

.compta-button-container {
	text-align: right;
	width: 0.8em;
}

.compta-positive {
	color: blue;
}

.compta-negative {
	color: red;
}

ul.errorlist {
	list-style: none;
	text-align: center;
	padding: 0em;
	color: red;
}

#view-ligne-title {
	font-size: 1.5em;
	margin-top: 1.5em;
}

.view-ligne-infos-container {
	display: flex;
	margin: 3em;
}

div.ligne-comment {
	width: 50%;
	padding: 1em;
	border: 1px solid black;
}

.view-ligne-infos {
	width: 50%;
	margin: auto;
}

.comment-ligne-container {
	border: 1px solid black;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.comment-commentaire {
	text-align: justify;
	margin-top: 1.5em;
}

#main-comment {
	margin-top: 2em;
	margin-bottom: 2em;
}

.input-align-right {
	text-align: right;
}

.compta-history-title {
	text-align: center;
	height: 5em;
	padding-top: 2em;
	font-size: 1.5em;
}

#poste-form-container {
	display: flex;
	justify-content: center;
	margin-top: 2em;
	margin-bottom: 2em;
}

#poste-form-container input {
	margin-right: 0.5em;
	margin-left: 0.5em;
}

.compta-import-error {
	min-width: 7em;
	margin-right: 1em;
}

.compta-binet {
	min-width: 12em;
	text-align: center;
	padding-left: 1em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.compta-promo {
	min-width: 3em;
	text-align: center;
	padding-left: 1em;
}

.compta-width100 {
	width: 100%;
}

.compta-search-form {
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: center;
}

.compta-search-form input {
	width: 6em;
}

.bluefont {
	color: blue;
}

.align-droite {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}