#compta-title-and-return {
	display: flex;
}

#compta-title-cropped {
	margin-right: 5em;
	min-width: 30em;
	width: 100%
}

#compta-nav {
	display: flex;
	min-width: 30em;
}

.compta-large-button-container {
	width: 40em;
	text-align: center;
	background-color: #FFD895
}

.compta-large-button-container:hover {
	background-color: #FF9999;
}

.compta-option-activated {
	background-color: #FF6060;
}

input.compta-nav-option {
	background-color: transparent;
	min-width: 8em;
	width: 100%;
	height: 4em;
	border: none;
}


#compta-table {
	width: 100%;
	margin-top: 1em;
}

tr.ligne-compta:nth-child(even) {background: #DDD}
tr.ligne-compta:nth-child(odd) {background: #FFF}

td.compta-form-montant {
	width: 7em;
	min-width: 7em;
	text-align: right;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-right: 1em;
}

th.compta-form-montant {
	min-width: 5.5em;
	text-align: right;
	padding-top: 0.6em;
	padding-right: 1em;
}

.compta-deblocage {
	font-style: italic;
}

td.compta-form-validate {
	width: 5.5em;
}

#id_date {
	width: 6.4em;
}

td.compta-form-date {
	width: 5em;
	text-align: center;
}

.compta-form-description {
	padding-left: 1em;
	padding-right: 1em;
	min-width: 20em;
	width: 100%;
}

#id_description {
	width: 100%;
}

.compta-form-montant input {
	width: 7em;
	text-align: right;
}

#id_commentaire {
	width: 100%;
}

.delete_icon {
	width: 1em;
	margin-left: 1em;
}

.edit_icon {
	margin-left: 1em;
}

.compta-button-container {
	text-align: right;
	width: 0.8em;
}

.compta-positive {
	color: blue;
}

.compta-negative {
	color: red;
}

ul.errorlist {
	list-style: none;
	text-align: center;
	padding: 0em;
	color: red;
}

#view-ligne-title {
	font-size: 1.5em;
	margin-top: 1.5em;
}

.view-ligne-infos-container {
	display: flex;
	margin: 3em;
}

div.ligne-comment {
	width: 50%;
	padding: 1em;
	border: 1px solid black;
}

.view-ligne-infos {
	width: 50%;
	margin: auto;
}