#liste-binets {
	width: 100%;
	min-width: 40em;
	margin: auto;
	border-collapse: collapse;
}

td.nom-binet {
	padding: 1em;
	min-width: 15em;
}

th.nom-binet {
	padding-left: 1em;
}

.role-in-binet {
	text-align: center;
	width: 6em;
}

.binet-description {
	min-width: 30em;
}

td.binet-description {
	padding: 1em;
	padding-left: 2em;
}

th.binet-description {
	padding-left: 2em;
}

.binet-user {
	text-align: center;
	width: 10em;
}

th.binet-user div {
	justify-content: center;
}

.binet-promotion {
	text-align: center;
	width: 3em;
}

tr.mandat:nth-child(even) {background: #FFF}
tr.mandat:nth-child(odd) {background: #DDD}