#liste-binets {
	width: 100%;
	min-width: 40em;
	margin: auto;
	border-collapse: collapse;
}

td.nom-binet {
	padding: 1em;
	min-width: 15em;
}

th.nom-binet {
	padding-left: 1em;
}

.import-status {
	min-width: 7em;
}

.role-in-binet {
	text-align: center;
	width: 6em;
}

.binet-description {
	min-width: 30em;
	font-style: italic;
}

td.binet-description {
	padding: 1em;
	padding-left: 2em;
}

th.binet-description {
	padding-left: 2em;
	font-style: normal;
}

.binet-user {
	text-align: center;
	width: 10em;
}

th.binet-user div {
	justify-content: center;
}

.binet-promotion {
	text-align: center;
	width: 3em;
}

tr.mandat:nth-child(even) {background: #FFF}
tr.mandat:nth-child(odd) {background: #DDD}


.binet-title-and-return-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;	
}

.edit-icon-large {
	width: 2.2em;
	height: 2.2em;
	margin-right: 1em;
}

.add-icon-large {
	width: 2.2em;
	height: 2.2em;
}

.view-icon-large {
	width: 1.5em;
	height: 1.5em;
}

.binets-side-button {
	width: 7em;
	display: flex;
	justify-content: flex-end;
}

.binets-return-button {
	width: 10em;
}

.binet-description-full {
	text-align: center;
	font-style: italic;
	margin-top: 2em;
	margin-bottom: 3em;
}

.binets-search-container {
	display: flex;
	margin-top: 2em;
	margin-bottom: 3em;
}

.binets-search-subcontainer {
	margin: auto;
}

.print-only {
	display: none;
}