@include('dist/css/bootstrap.min.css');
@include('dist/css/bootstrap.css');
@include('compta/compta.css');

img.centre {
	display: block;
	margin: auto;
	height: 150px;
}

#page-title {
	font-size: 2em;
	text-align: center;
	margin-bottom: 0.5em;
	width: 100%;
}

.txtcentre{
	text-align: center;
}

.encadre {
	border: 2px solid black;
}

.txtdroite{
	text-align: right;
}


footer {
	bottom: 0px;
	position: fixed;
	width: 100%;
	text-align: center;
	z-index: 1;
	background-color: white;
}

.kesdorado{
	background-color: green;
	color: yellow;
}

.marge-bas {
	margin-bottom: 50px;
}

.table-borderless {
	border: none;
}

.welcome-container {
	margin-top: 4em;
}

.login-buttons-container {
	display: flex;
	justify-content: center;
	margin-top: 4em;
}

.login-container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

img.frankiz-logo {
	height: 8em;
	margin-right: 2em;
	margin-left: 2em;
}

.padding-top-1em {
	padding-top: 1em;
}

.link-black {
	color:inherit;
}