@include('dist/css/bootstrap.min.css');
@include('dist/css/bootstrap.css');

img.centre {
	display: block;
	margin: auto;
	height: 150px;
}

.txtcentre{
	text-align: center;
}

.encadre {
	border: 2px solid black;
}

.txtdroite{
	text-align: right;
}

footer {
	bottom: 0px;
	position: fixed;
	width: 100%;
	text-align: center;
	z-index: 1;
	background-color: white;
}

.kesdorado{
background-color: green;
color: yellow;
}

.marge-bas {
	margin-bottom: 50px;
}
