{% extends "base.html" %}

{% block content %}
	{% if user.is_authenticated %}
		{# si l'utilisateur est déjà connecté #}
		<h1>Déjà connecté</h1>
		<p>Vous êtes connecté, {{ user.username }} !</p>
	{% elif sent %}
		<h1>Compte créé avec succès</h1>
		<p>Votre compte a été créé et vous y avez accès.</br>
		Pour avoir accès aux comptes de votre binet, vous devez aller voir les kessiers binets ou le SecGen (pour les VOS) afin qu'ils vous y donnent accès</p>
	{% else %}
		<h1>Inscription</h1>
		<p>Nouveau sur le site ? Entrez vos informations pour créer un compte</p>
		<form method="post" action="create">
		    {% csrf_token %}
		    {{ form.as_p }}
		    <input type="submit" value="Créer compte" />
		</form>
	{% endif %}


{% endblock %}