{% extends "base.html" %}

{% block content %}
<div class='container'>
<div class='row'>
<div class = 'col-sm-6 col-sm-offset-3 encadre'>
<div class = 'row txtcentre'>
	<h1>Inscription</h1>
</div>
	<div class='row'><div class='col-sm-12'>Nouveau sur le site ? Entrez vos informations pour créer un compte :</div></div>
<div class='row'><br/></div>

	{% if user.is_authenticated %}
		<p>Vous êtes connecté, {{ user.username }} !</p>
		<a href="logout">Vous déconnecter</a>
	{% else %}
		<form method="post" action="/accounts/redirect">
	<div class='row txtcentre'>
		    {% csrf_token %}
		    {{ form.as_p }}
</div>
	<div class='row txtcentre'>
		    <input class='btn btn-default' type="submit" value="Créer compte" />
</div>
		</form>
	{% endif %}
<div class='row'><br/></div>
</div>
</div>
</div>

{% endblock %}
