{% extends "base.html" %}

{% block content %}
<div class='container'>
	<div class='row'>
	<div class = 'col-sm-6 col-sm-offset-3 encadre'>
	<div class = 'row txtcentre'>
		<h2>Se connecter</h2>
	</div>
	{% if error %}
		<div class='row'><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></div>
	{% endif %}

	{% if user.is_authenticated %}
		<div class='row'>Vous êtes connecté, {{ user.username }} !</div>
	{% else %}
		<form method="post" action="./login">
			<div class='row'>
					{% csrf_token %}
						<div class='col-sm-12'>
							<table class='table table-responsive table-borderless'>
				    		{{ form.as_table }}
							</table>
						</div>
			</div>
			<div class='row txtcentre'>
				<input class='btn btn-default' type="submit" value="Se connecter" />
			</div>
		</form>
		<div class='row txtdroite'>
			<a href="create">Créer un compte</a>
		</div>
	{% endif %}
<div class='row'><br/></div>
</div>
</div>
</div>
{% endblock %}
