{% extends 'compta/journal.html' %}
{# cette page récupère le menu de la page journal #}
{% load static %}

{% block compta_page %}
	<div id="compta-table-container">
		<div id="view-deblocages-title">
			Déblocage des subventions
		</div>
		<div class="subvention-tables_container">
			{% for subvention in subventions %}
			<div class="subventions-deblocages-and-lignes-container">
				<table class="subventions-deblocages-table">
					<caption>
						{{ subvention.vague.type_subvention }} {{ subvention.vague.annee }} 
							{% if request.user.is_staff %}
								<a href={{ subvention.verser_self_url }}?next={{ request.get_full_path }}>
									{% if subvention.is_versee %}
										<img src="{% static 'img/locked.ico' %}" alt="Lock icone" class='lock_icon' title="La subvention a été versée">
									{% else %}
										<img src="{% static 'img/blank.ico' %}" alt="Icone vide" class='blank_icon' title="Verser la subvention">
									{% endif %}
								</a>
							{% else %}
								{% if subvention.is_versee %}
									<img src="{% static 'img/locked.ico' %}" alt="Lock icone" class='lock_icon' title="La subvention a été versée, il n'est plus possible de la débloquer">
								{% endif %}
							{% endif %}
					</caption>
					<head>
						<tr>
							<th class='subventions-deblocages-postes'>Postes de dépenses</th>
							<th class="subventions-deblocages-montant">Somme accordée</th>
							<th class="subventions-deblocages-montant">Somme débloquée</th>
							<th class="subventions-deblocages-montant">Reste</th>
						</tr>
					</head>
					<body>
						<tr class="subventions-deblocages-recap">
							<td class="subventions-deblocages-postes">{{ subvention.postes|linebreaks }}</td>
							<td class="subventions-deblocages-montant">{{ subvention.accorde }}</td>
							<td class="subventions-deblocages-montant">{{ subvention.get_deblocages_total }}</td>
							<td class="subventions-deblocages-montant">{{ subvention.get_rest }}</td>

						</tr>
					</body>
				</table>
				<table class="subventions-deblocage-lignes">
					<caption>Déblocages</caption>
					{% if subvention.get_deblocages_list %}
						<thead>
							<tr>
								<th></th>
								<th>
									Effectée le
								</th>
								<th class="compta-form-description">
									Description
								</th>
								<th>Poste</th>
								<th class="compta-form-montant">
									Débit
								</th>
								{% for subvention_bis in subventions %}
								<th class="compta-form-montant">{{ subvention_bis.vague.type_subvention }} {{ subvention_bis.vague.annee }}</th>
								{% endfor %}
							</tr>
						</thead>
					{% endif %}
					<tbody class="subventions-deblocage-lignes">
						{% if not subvention.get_deblocages_list %}
						<tr class='txtcentre'>
							<td>Pas encore de déblocages sur {{ subvention.vague.type_subvention }} {{ subvention.vague.annee }}. Vous pouvez en effectuer depuis votre journal</td>
						</tr>
						{% endif %}

						{% for deblocage in subvention.get_deblocages_list %}
							<tr class="ligne-compta">
								<td class="compta-button-container">
									{# l'admin possède les liens pour lock la ligne, pas le modificateur normal #}
									{% if request.user.is_staff %}
										<a href={{ deblocage.ligne_compta.lock_unlock_self_link }}?next={{ request.get_full_path }}>
											{% if deblocage.ligne_compta.is_locked %}
												<img src="{% static 'img/locked.ico' %}" alt="Lock icone" class='lock_icon' title="Déverrouiller la ligne">
											{% else %}
												<img src="{% static 'img/blank.ico' %}" alt="Icone vide" class='blank_icon' title="Verrouiller la ligne">
											{% endif %}
										</a>
									{% else %}
										{% if deblocage.ligne_compta.is_locked %}
											<img src="{% static 'img/locked.ico' %}" alt="Lock icone" class='lock_icon' title="Ligne verrouillée">
										{% else %}
											<img src="{% static 'img/blank.ico' %}" alt="Icone vide" class='blank_icon' title="">		
										{% endif %}
									{% endif %}
								</td>
								<td class="compta-form-date">{{ deblocage.ligne_compta.date|date:'d/m/Y' }}</td>
								{# si l'utilisateur peut éditer le journal, le lien de la description l'amène directement à edit. Sinon à view #}
								{% if request.session.edit and not deblocage.ligne_compta.is_locked or request.user.is_staff %}
									<td class="compta-form-description"><a href={{ deblocage.ligne_compta.edit_self_link }}>{{ deblocage.ligne_compta.description }}</a></td>
								{% else %}
									<td class="compta-form-description"><a href={{ deblocage.ligne_compta.view_self_link }}>{{ deblocage.ligne_compta.description }}</a></td>
								{% endif %}
								<td>{{ deblocage.ligne_compta.poste_depense|default_if_none:"" }}</td>
								<td class="compta-form-montant">{% if deblocage.ligne_compta.debit %}{{ deblocage.ligne_compta.debit|default_if_none:"" }}{% endif %}</td>
								{% for nom_vague, montant_deblocage in deblocage.ligne_compta.get_deblocages %}
									<td class="compta-form-montant">
										<div class="compta-deblocage">
											{% if montant_deblocage %}{{ montant_deblocage|default_if_none:"" }}{% endif %}
										</div>
									</td>
								{% endfor %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% endfor %}
	</div>
{% endblock %}