{% extends 'compta/journal.html' %}
{# cette page récupère le menu de la page journal #}
{% load static %}


{% block compta_page %}
<div id="compta-table-container">
	<div class='txtcentre'>
		<div id="view-deblocages-title">
			Bilan global
		</div>
	</div>
	{% if evenements %}{# on commence par le cas où le binet utilise les événements #}
	<div class="subvention-tables_container">
		<div class="subventions-deblocages-and-lignes-container">
			<table class="subventions-deblocage-lignes">
				<thead>
					<tr>
						<th class="compta-form-description">
							Evénements
							<a href="/compta/journal/create_evenement?next={{ request.get_full_path }}"><img class='add-icon' src="{% static 'img/add2.ico' %}" alt="Add Icon" title="Nouvel événement"/></a>
						</th>
						<th class="compta-form-description">
							Postes
							<a href="/compta/journal/create_poste_depense?next={{ request.get_full_path }}"><img class='add-icon' src="{% static 'img/add2.ico' %}" alt="Add Icon" title="Nouveau poste de dépenses"/></a>
						</th>
						<th class="padding-4" colspan="2">
							Réel
						</th>
						<th class="padding-4" colspan="2">
							Prévisionnel
						</th>
						<th class="compta-form-montant">
							Différence
						</th>
					</tr>
				</thead>
				<tbody class="subventions-deblocage-lignes">
					<tr>
						<td colspan="2"></td>
						<td class="compta-form-montant">Débit</td>
						<td class="compta-form-montant">Crédit</td>
						<td class="compta-form-montant">Débit</td>
						<td class="compta-form-montant">Crédit</td>
						<td></td>
					</tr>
					{% for evenement in evenements_with_totals %}
						<tr class={{ evenement.color }}>
							<td class="compta-form-description" rowspan={{ evenement.nb_postes }}>
								<a href={{ evenement.evenement.edit_self_url }}?next={{ request.get_full_path }} title="Modifier l'événement">
									<strong>{{ evenement.evenement }}</strong>
								</a>
								{% if request.session.edit and not evenement.is_not_empty %}
									<a href={{ evenement.evenement.delete_self_url }}?next={{ request.get_full_path }}>
										<img src="{% static 'img/delete.ico' %}" alt="Delete icone" class='delete_icon' title="L'événement est vide, le supprimer ?"/>
									</a>
								{% endif %}
							</td>
							<td colspan="6"></td>
						</tr>
						{% for poste in evenement.totals %}
						{% if not poste.poste_depense.mandat and not poste.is_not_empty %}
						{% else %}
						<tr class={{ evenement.color }}>
							<td class="compta-form-description">
								{% if poste.poste_depense.mandat %}
								<a class='link-black' href={{ poste.poste_depense.edit_self_url }}?next={{ request.get_full_path }} title="Modifier le poste de dépenses">
									{% if poste.poste_depense.nom %}
										{{ poste.poste_depense.nom }}
									{% else %}
										{{ poste.poste_depense }}
									{% endif %}
								</a>
								{% else %}
									{% if poste.poste_depense.nom %}
										{{ poste.poste_depense.nom }}
									{% else %}
										{{ poste.poste_depense }}
									{% endif %}
								{% endif %}
								</td>
							<td class="compta-form-montant">{{ poste.reel_debit }}</td>
							<td class="compta-form-montant">{{ poste.reel_credit_with_deblocages }}</td>
							<td class="compta-form-montant">
								{% if poste.poste_depense.mandat %}
								<a class='link-black' href={{ poste.poste_depense.edit_self_url }}?next={{ request.get_full_path }}>
									{{ poste.previsionnel_debit }}
								</a>
								{% else %}
									{{ poste.previsionnel_debit }}
								{% endif %}
							</td>
							<td class="compta-form-montant">
								{% if poste.poste_depense.mandat %}
								<a class='link-black' href={{ poste.poste_depense.edit_self_url }}?next={{ request.get_full_path }}>
									{{ poste.previsionnel_credit }}
								</a>
								{% else %}
									{{ poste.previsionnel_credit }}
								{% endif %}
							</td>
							<td class="compta-form-montant">
								{% if poste.diff_subtotal_is_positive %}
									<div class="compta-positive">
										{{ poste.diff_subtotal }}
									</div>
									{% else %}
									<div class="compta-negative">
										{{ poste.diff_subtotal }}
									</div>
								{% endif %}
							</td>
						</tr>
						{% endif %}
						{% endfor %}
						<tr class={{ evenement.color }}>
							<td rowspan="2"><strong>Sous-total {{ evenement.evenement }}</strong></td>
							<td></td>
							<td class="compta-form-montant"><strong>{{ evenement.reel_debit_evenement }}</strong></td>
							<td class="compta-form-montant"><strong>{{ evenement.reel_credit_with_deblocages_evenement }}</strong></td>
							<td class="compta-form-montant"><strong>{{ evenement.previsionnel_debit_evenement }}</strong></td>
							<td class="compta-form-montant"><strong>{{ evenement.previsionnel_credit_evenement }}</strong></td>
							<td></td>
						</tr>
						<tr class={{ evenement.color }}>
							<td colspan="2"></td>
							<td class="compta-form-montant"><strong>
								{% if evenement.reel_balance_evenement_is_positive %}
									<div class="compta-positive">
										{{ evenement.reel_balance_evenement }}
									</div>
									{% else %}
									<div class="compta-negative">
										{{ evenement.reel_balance_evenement }}
									</div>
								{% endif %}
							</strong></td>
							<td></td>
							<td class="compta-form-montant"><strong>
								{% if evenement.previsionnel_balance_evenement_is_positive %}
									<div class="compta-positive">
										{{ evenement.previsionnel_balance_evenement }}
									</div>
									{% else %}
									<div class="compta-negative">
										{{ evenement.previsionnel_balance_evenement }}
									</div>
								{% endif %}
							</strong></td>
							<td class="compta-form-montant"><strong>
								{% if evenement.diff_balance_evenement_is_positive %}
									<div class="compta-positive">
										{{ evenement.diff_balance_evenement }}
									</div>
									{% else %}
									<div class="compta-negative">
										{{ evenement.diff_balance_evenement }}
									</div>
								{% endif %}
							</strong></td>
						</tr>
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<th class="compta-form-description" rowspan="2">Total</th>
						<th></th>
						<th class="compta-form-montant">
							{{ reel_debit_total }}
						</th>
						<th class="compta-form-montant">
							{{ reel_credit_with_deblocages_total }}
						</th>
						<th class="compta-form-montant">
							{{ previsionnel_debit_total }}
						</th>
						<th class="compta-form-montant">
							{{ previsionnel_credit_total }}
						</th>
					</tr>
					<tr>
						<th colspan="2"></th>
						<th class="compta-form-montant">
							{% if reel_balance_total_is_positive %}
								<div class="compta-positive">
									{{ reel_balance_total }}
								</div>
							{% else %}
								<div class="compta-negative">
									{{ reel_balance_total }}
								</div>
							{% endif %}
						</th>
						<th></th>
						<th class="compta-form-montant">
							{% if previsionnel_balance_total_is_positive %}
								<div class="compta-positive">
									{{ previsionnel_balance_total }}
								</div>
							{% else %}
								<div class="compta-negative">
									{{ previsionnel_balance_total }}
								</div>
							{% endif %}
						</th>
						<th class="compta-form-montant">
							{% if diff_balance_total_is_positive %}
								<div class="compta-positive">
									{{ diff_balance_total }}
								</div>
								{% else %}
								<div class="compta-negative">
									{{ diff_balance_total }}
								</div>
							{% endif %}
						</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
	{% else %}
	{# puis le cas où il utilise juste les postes de dépense #}
	<div class="subvention-tables_container">
		<div class="subventions-deblocages-and-lignes-container">
			<table class="subventions-deblocage-lignes">
				<thead>
					<tr>
						<th class="compta-form-description">
							Postes
							<a href="/compta/journal/create_poste_depense?next={{ request.get_full_path }}"><img class='add-icon' src="{% static 'img/add2.ico' %}" alt="Add Icon" title="Nouveau poste de dépenses"/></a>
						</th>
						<th class="padding-4" colspan="2">
							Réel
						</th>
						<th class="padding-4" colspan="2">
							Prévisionnel
						</th>
						<th class="compta-form-montant">
							Différence
						</th>
					</tr>
					<tr>
						<td></td>
						<td class="compta-form-montant">Débit</td>
						<td class="compta-form-montant">Crédit</td>
						<td class="compta-form-montant">Débit</td>
						<td class="compta-form-montant">Crédit</td>
						<td></td>
					</tr>
				</thead>
				<tbody class="subventions-deblocage-lignes">
					{% for poste in postes_with_total %}
					{% if not poste.poste_depense.mandat and not poste.is_not_empty %}
					{% else %}
					<tr class="ligne-compta">
						<td class="compta-form-description">{{ poste.poste_depense }}</td>
						<td class="compta-form-montant">{{ poste.reel_debit }}</td>
						<td class="compta-form-montant">{{ poste.reel_credit_with_deblocages }}</td>
						<td class="compta-form-montant">
							{% if poste.poste_depense.mandat %}
							<a class='link-black' href={{ poste.poste_depense.edit_self_url }}?next={{ request.get_full_path }}>
								{{ poste.previsionnel_debit }}
							</a>
							{% else %}
								{{ poste.previsionnel_debit }}
							{% endif %}
						</td>
						<td class="compta-form-montant">
							{% if poste.poste_depense.mandat %}
							<a class='link-black' href={{ poste.poste_depense.edit_self_url }}?next={{ request.get_full_path }}>
								{{ poste.previsionnel_credit }}
							</a>
							{% else %}
								{{ poste.previsionnel_credit }}
							{% endif %}
						</td>
						<td class="compta-form-montant">
							{% if poste.diff_subtotal_is_positive %}
								<div class="compta-positive">
									{{ poste.diff_subtotal }}
								</div>
								{% else %}
								<div class="compta-negative">
									{{ poste.diff_subtotal }}
								</div>
							{% endif %}
						</td>
					</tr>
					{% endif %}
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<th class="compta-form-description">Total</th>
						<th class="compta-form-montant">
							{{ reel_debit_total }}
						</th>
						<th class="compta-form-montant">
							{{ reel_credit_with_deblocages_total }}
						</th>
						<th class="compta-form-montant">
							{{ previsionnel_debit_total }}
						</th>
						<th class="compta-form-montant">
							{{ previsionnel_credit_total }}
						</th>
					</tr>
					<tr>
						<th colspan="2"></th>
						<th class="compta-form-montant">
							{% if reel_balance_total_is_positive %}
								<div class="compta-positive">
									{{ reel_balance_total }}
								</div>
							{% else %}
								<div class="compta-negative">
									{{ reel_balance_total }}
								</div>
							{% endif %}
						</th>
						<th></th>
						<th class="compta-form-montant">
							{% if previsionnel_balance_total_is_positive %}
								<div class="compta-positive">
									{{ previsionnel_balance_total }}
								</div>
							{% else %}
								<div class="compta-negative">
									{{ previsionnel_balance_total }}
								</div>
							{% endif %}
						</th>
						<th class="compta-form-montant">
							{% if diff_balance_total_is_positive %}
								<div class="compta-positive">
									{{ diff_balance_total }}
								</div>
								{% else %}
								<div class="compta-negative">
									{{ diff_balance_total }}
								</div>
							{% endif %}
						</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
	{% endif %}
	<div class='txtcentre'>
		<div id="view-deblocages-title">
			Bilan détaillé par poste de dépense
		</div>
	</div>
	<div class="subvention-tables_container">
		{% for poste in postes_with_total %}
		{% if not poste.poste_depense.mandat and not poste.is_not_empty %}
		{% else %}
		<div class="subventions-deblocages-and-lignes-container">
			<table class="subventions-deblocage-lignes">
				<!-- <caption>{{ poste_depense }}</caption> -->
				<thead>
					<tr>
						<th class="compta-form-description">
							{{ poste.poste_depense }}
							{% if request.session.edit and poste.poste_depense.mandat %}
								<a href={{ poste.poste_depense.edit_self_url }}?next={{ request.get_full_path }}>
									<img src="{% static 'img/edit.ico' %}" alt="Edit icone" class='edit_icon' title="Modifier le poste de dépense"/>
								</a>
							{% endif %}
							{% if request.session.edit and not poste.is_not_empty and poste.poste_depense.mandat %}
								<a href={{ poste.poste_depense.delete_self_url }}?next={{ request.get_full_path }}>
									<img src="{% static 'img/delete.ico' %}" alt="Delete icone" class='delete_icon' title="Le poste de dépense est vide, le supprimer ?"/>
								</a>
							{% endif %}
						</th>
						<th class="compta-form-montant">
							Réel
						</th>
						<th class="compta-form-montant">
							Prévisionnel
						</th>
						<th class="compta-form-montant">
							Différence
						</th>
					</tr>
				</thead>
				<tbody class="subventions-deblocage-lignes">
					<tr class="ligne-compta">
						<td class="compta-form-description">Dépenses</td>
						<td class="compta-form-montant">{{ poste.reel_debit }}</td>
						<td class="compta-form-montant">
							{% if poste.poste_depense.mandat %}
							<a class='link-black' href={{ poste.poste_depense.edit_self_url }}?next={{ request.get_full_path }}>
								{{ poste.previsionnel_debit }}
							</a>
							{% else %}
								{{ poste.previsionnel_debit }}
							{% endif %}
						</td>
						<td class="compta-form-montant">
							{% if poste.diff_debit_is_positive %}
								<div class="compta-positive">
									{{ poste.diff_debit }}
								</div>
								{% else %}
								<div class="compta-negative">
									{{ poste.diff_debit }}
								</div>
							{% endif %}
						</td>
					</tr>
					<tr class="ligne-compta">
						<td class="compta-form-description">Recettes propres</td>
						<td class="compta-form-montant">{{ poste.reel_credit }}</td>
						<td class="compta-form-montant" rowspan='{{ poste.nb_recettes }}'>
							{% if poste.poste_depense.mandat %}
							<a class='link-black' href={{ poste.poste_depense.edit_self_url }}?next={{ request.get_full_path }}>
								{{ poste.previsionnel_credit }}
							</a>
							{% else %}
								{{ poste.previsionnel_credit }}
							{% endif %}
						</td>
						<td class="compta-form-montant" rowspan='{{ poste.nb_recettes }}'>
							{% if poste.diff_credit_is_positive %}
								<div class="compta-positive">
									{{ poste.diff_credit }}
								</div>
								{% else %}
								<div class="compta-negative">
									{{ poste.diff_credit }}
								</div>
							{% endif %}
						</td>
					</tr>
					{% for subvention, subtotal in poste.reel_deblocages %}
						{% if subtotal %}
							<tr class="ligne-compta">
								<td class="compta-form-description">
									<div class="compta-deblocage">
										Déblocages {{ subvention.vague.type_subvention }} {{ subvention.vague.annee }}
									</div>
								</td>
								<td class="compta-form-montant">
									<div class="compta-deblocage">
										{{ subtotal }}
									</div>
								</td>
							</tr>
						{% endif %}
					{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<th class="compta-form-description">Sous-total {{ poste.poste_depense }}</th>
						<th class="compta-form-montant">
							{% if poste.reel_is_positive %}
								<div class="compta-positive">
									{{ poste.reel_subtotal }}
								</div>
								{% else %}
								<div class="compta-negative">
									{{ poste.reel_subtotal }}
								</div>
							{% endif %}
						</th>
						<th class="compta-form-montant">
							{% if poste.previsionnel_is_positive %}
								<div class="compta-positive">
									{{ poste.previsionnel_subtotal }}
								</div>
								{% else %}
								<div class="compta-negative">
									{{ poste.previsionnel_subtotal }}
								</div>
							{% endif %}
						</th>
						<th class="compta-form-montant">
							{% if poste.diff_subtotal_is_positive %}
								<div class="compta-positive">
									{{ poste.diff_subtotal }}
								</div>
								{% else %}
								<div class="compta-negative">
									{{ poste.diff_subtotal }}
								</div>
							{% endif %}
						</th>
					</tr>
				</tfoot>
			</table>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</div>


{% endblock %}