{% extends 'compta/journal.html' %}

{% load static %}

{% block compta_page %}
	<div class="binet-mandats-container">
		<div class="compta-history-title">
			Liens vers les mandats précédents
		</div>
		<table id="liste-binets">
			<tbody>
				{% for available_mandat in liste_mandats %}
					<tr class="mandat">
						<td class="nom-binet">
							<div class="txtcentre">
								Binet 
								<strong><a href={{ available_mandat.get_mandat_journal }}>{{ available_mandat.binet }} ({{ available_mandat.promotion }})</a></strong>
							</div>
						</td>
					</tr>

				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}