{% extends 'compta/journal.html' %}
{# cette page récupère le menu de la page journal #}
{% load static %}

{% block compta_page %}
	<div id="compta-table-container">
		<form method='post' action=''>
			<div id="view-ligne-title">
				Modifier l'opération
			</div>
			<table id="compta-table">
				<thead>
					<tr>
						<th></th>
						<th>
							Effectée le
						</th>
						<th class='compta-form-reference'>
							Référence
						</th>
						<th class="compta-form-description">
							Description
						</th>
						<th>
							Poste
						</th>
						<th class="compta-form-montant">
							Débit
						</th>
						<th class="compta-form-montant">
							Crédit
						</th>
						{% for subvention_name in subventions_names %}
						<th class="compta-form-montant">{{ subvention_name }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% if request.session.edit %}
						<div class="new-ligne-compta">
							{# on met en forme manuellement le formulaires permettant de rentrer une nouvelle ligne #}
							{{ ligne_form.non_field_errors }}
							<tr id="new-ligne-compta-errors">
								<td></td>
								<td class="compta-form-errors-container">
									{{ ligne_form.date.errors }}
								</td>
								<td class="compta-form-errors-container">
									{{ ligne_form.reference.errors }}
								</td>
								<td class="compta-form-errors-container">
									{{ ligne_form.description.errors }}
								</td>
								<td class="compta-form-errors-container">
									{{ ligne_form.poste_depense.errors }}
								</td>
								<td colspan="2" class="compta-form-errors-container">
									{# on regroupe les messages des montants dans la même case #}
									{{ ligne_form.credit.errors }}
									{{ ligne_form.debit.errors }}
								</td>
								<td class="compta-form-errors-container" colspan="15">
								{{ deblocage_edit_formset.non_form_errors }}
								{% for deblocage_form in deblocage_edit_formset %}
									{{ deblocage_form.errors }}
								{% endfor %}
								</td>
							</tr>

							<tr id="new-ligne-compta-form">
								<td class="compta-button-container">
									{# l'admin possède les liens pour lock la ligne, pas le modificateur normal #}
									{% if request.user.is_staff %}
										<a href={{ ligne.lock_unlock_self_link }}?next={{ request.get_full_path }}>
											{% if ligne.is_locked %}
												<img src="{% static 'img/locked.ico' %}" alt="Lock icone" class='lock_icon' title="Déverrouiller la ligne">
											{% else %}
												<img src="{% static 'img/blank.ico' %}" alt="Icone vide" class='blank_icon' title="Verrouiller la ligne">
											{% endif %}
										</a>
									{% else %}
										{% if ligne.is_locked %}
											<img src="{% static 'img/locked.ico' %}" alt="Lock icone" class='lock_icon' title="Ligne verrouillée">
										{% else %}
											<img src="{% static 'img/blank.ico' %}" alt="Icone vide" class='blank_icon' title="">
										{% endif %}
									{% endif %}
								</td>
								<td class="compta-form-date">
									{{ ligne_form.date }}
								</td>
								<td class="compta-form-reference">
									{{ ligne_form.reference }}
								</td>
								<td class="compta-form-description">
									{{ ligne_form.description }}
								</td>
								<td class="compta-form-montant">
									{{ ligne_form.poste_depense }}
								</td>
								<td class="compta-form-montant">
									{{ ligne_form.debit }}
								</td>
								<td class="compta-form-montant">
									{{ ligne_form.credit }}
								</td>
								{{ deblocage_edit_formset.management_form }}
								{% for deblocage_form in deblocage_edit_formset %}
									<td class="compta-form-montant">{{ deblocage_form.subvention }}{{ deblocage_form.id }}{{ deblocage_form.montant }}</td>
								{% endfor %}
								<td class="compta-form-validate" colspan="2">
									{% csrf_token %}
									<input type="submit" name="validation" value="Modifier" />
								</td>
							<tr>
						</div>
					{% endif %}
				</tbody>
			</table>
			<div class="view-ligne-infos-container">
				<ul class="view-ligne-infos">
					<li>Mandat : {{ ligne.mandat }}</li>
					<li>Création : {{ ligne.add_date }} par <a href={{ ligne.auteur.eleve.get_infos_url }}>{{ ligne.auteur }}</a></li>
				<li>Dernière modification : {{ ligne.edit_date }} par <a href={{ ligne.modificateur.eleve.get_infos_url }}>{{ ligne.modificateur }}</a></li>
				</ul>

				<div class="ligne-comment">
					<p><strong>Commentaire</strong></p>
					<p>
						{{ ligne_form.commentaire.errors }}
						{{ ligne_form.commentaire }}
					</p>
				</div>
			</div>
		</form>
	</div>
{% endblock %}