{% extends 'compta/journal.html' %}
{# cette page récupère le menu de la page journal #}
{% load static %}


{% block compta_page %}
<div id="compta-table-container">
	<div class='txtcentre'>
		<div id="view-deblocages-title">
			Importer des opérations
		</div>
		<p>Vous pouvez ici importer des opérations comptables via excel. Attention, pour être accepté, votre fichier doit être au format .xls ou .xlsx avec comme colonnes "Date|Référence|Description|Poste|Débit|Crédit" (écrites en haut des colonnes). Voir exemple ci-dessous :</p>
	</div>
	<div class="import-form-container">
		<form enctype="multipart/form-data" method="post" action=".">
		    {% csrf_token %}
		    {{ import_form.as_p }}
			<input type="submit" name="validation" value="Upload" />
		</form>
	</div>
</div>
{% endblock %}