{% extends 'compta/journal.html' %}
{# cette page récupère le menu de la page journal #}
{% load static %}


{% block compta_page %}
	<h3>Importer des opérations</h3>
	<p>Attention, pour être accepté, votre fichier doit être au format .xls ou .xlsx avec comme colonnes "Date|Description|Débit|Crédit" (écrites en haut des colonnes)</p>
	<form enctype="multipart/form-data" method="post" action=".">
	    {% csrf_token %}
	    {{ import_form.as_p }}
		<input type="submit" name="validation" value="Upload" />
	</form>
{% endblock %}