{% extends 'base.html' %}

{% load static %}

{% block content %}
	{% block compta_nav %}
	<section class="binet-title-and-return-container">
		<div class="binets-return-button">
			<form action={{ request.session.previous }}>
				<input type="submit" value="Retour" />
			</form>
		</div>
		<h3>Journal : Binet {{ mandat.binet }} {{ mandat.promotion }}</h3>
		<div class='binets-side-button'>
			<div class='passation-icon'>
				{% if mandat.is_active %}
					<a href={{ mandat.touch_untouch_self_url }}?next={{ request.get_full_path }}>
						{% if mandat.being_checked %}
							<img src="{% static 'img/processing.png' %}" alt="Processing icon large" class='view-icon-large' title="La vérification de compta est en cours">
						{% else %}
							<img src="{% static 'img/blank.ico' %}" alt="Blank icon large" class='view-icon-large' title="La vérification de compta n'est pas commencée">
						{% endif %}
					</a>
				{% endif %}
			</div>
			<div class='passation-icon'>
				<a href={{ mandat.activate_deactivate_self_url }}?next={{ request.get_full_path }}>
					{% if mandat.is_active %}
						<img src="{% static 'img/unlock.png' %}" alt="Unlock icon large" class='view-icon-large' title="Le mandat est modifiable par ses membres">
					{% else %}
						<img src="{% static 'img/lock.png' %}" alt="Lock view icon large" class='view-icon-large' title="Le mandat est passé, seuls les kessiers peuvent le modifier">
					{% endif %}
				</a>
			</div>
			<div class='passation-icon print-hidden'>
				<a href={{ mandat.get_bilan_url }}>
					<img src="{% static 'img/bullet_list.png' %}" alt="List icon large" class='view-icon-large' title="Voir le bilan du mandat" />
				</a>
			</div>
		</div>
	</section>
	<section id="compta-container">
		<div id="compta-nav">

			<div class="compta-large-button-container">
				{# attention cette variable doit avoir été mise à la valeur du choix effectuée dans la vue #}
				{% if request.session.active_tab == 'Journal' %}
				<div class="compta-option-activated">
					<form action="/compta/journal">
						<input class="compta-nav-option" type="submit" value="Journal" />
					</form>
				</div>
				{% else %}
				<form action="/compta/journal">
					<input class="compta-nav-option" type="submit" value="Journal" />
				</form>
				{% endif %}
			</div>

			<div class="compta-large-button-container">
				{% if request.session.active_tab == 'Subventions' %}
				<div class="compta-option-activated">
					<form action="/compta/binet_subventions">
						<input class="compta-nav-option" type="submit" value="Subventions" />
					</form>
				</div>
				{% else %}
				<form action="/compta/binet_subventions">
					<input class="compta-nav-option" type="submit" value="Subventions" />
				</form>
				{% endif %}
			</div>

			{% if request.session.edit %}
			<div class="compta-large-button-container">
				{% if request.session.active_tab == 'Importer des opérations' %}
				<div class="compta-option-activated">
					<form action="/compta/import_lignes">
						<input class="compta-nav-option" type="submit" value="Importer des opérations" />
					</form>
				</div>
				{% else %}
				<form action="/compta/import_lignes">
					<input class="compta-nav-option" type="submit" value="Importer des opérations" />
				</form>
				{% endif %}
			</div>
			{% endif %}

			<div class="compta-large-button-container">
				{% if request.session.active_tab == 'Remarques' %}
				<div class="compta-option-activated">
					<form action="/compta/view_remarques">
						<input class="compta-nav-option" type="submit" value="Remarques" />
					</form>
				</div>
				{% else %}
				<form action="/compta/view_remarques">
					<input class="compta-nav-option" type="submit" value="Remarques" />
				</form>
				{% endif %}
			</div>

			<div class="compta-large-button-container">
				{% if request.session.active_tab == 'Historique' %}
				<div class="compta-option-activated">
					<form action="/compta/binet_compta_history">
						<input class="compta-nav-option" type="submit" value="Historique" />
					</form>
				</div>
				{% else %}
				<form action="/compta/binet_compta_history">
					<input class="compta-nav-option" type="submit" value="Historique" />
				</form>
				{% endif %}
			</div>

		</div>
		{% endblock %}
		{% block compta_page %}
		<div id="compta-table-container">
			<table id="compta-table">
				{% block compta_titles %}
				<thead>
					<tr>
						<th>
							{% if request.user.is_staff %}
								<a href='lock_unlock_all/?next={{ request.get_full_path }}'>
									{% if mandat.is_all_locked %}
										<img src="{% static 'img/locked.ico' %}" alt="Lock icone" class='lock_icon' title="Déverrouiller toutes les lignes">
									{% else %}
										<img src="{% static 'img/locked.ico' %}" alt="Lock icone" class='lock_icon' title="Verrouiller toutes les lignes">
									{% endif %}
								</a>
							{% else %}
								<img src="{% static 'img/blank.ico' %}" alt="Icone vide" class='blank_icon' title="">
							{% endif %}
						</th>
						<th class="compta-form-date">
							<div class='title-order-container'><div>Date</div><a href={{ ordering_links.pop }}><img class='order-icon' src="{% static 'img/order.ico' %}" alt="Order Icon" title="Ordonner par date"/></a></div>
						</th>
						<th class="compta-form-description">
							<div class='title-order-container'><div>Description - facture</div><a href={{ ordering_links.pop }}><img class='order-icon' src="{% static 'img/order.ico' %}" alt="Order Icon" title="Ordonner par description"/></a></div>
						</th>
						<th class="compta-form-poste">
							<div class='title-order-container'><div>Poste</div><a href={{ ordering_links.pop }}><img class='order-icon' src="{% static 'img/order.ico' %}" alt="Order Icon" title="Ordonner par poste"/></a><a href="create_poste_depense"><img class='add-icon' src="{% static 'img/add2.ico' %}" alt="Add Icon" title="Nouveau poste de dépenses"/></a></div>
						</th>
						<th class="compta-form-montant">
							<div class='title-order-container'><div>Débit</div><a href={{ ordering_links.pop }}><img class='order-icon' src="{% static 'img/order.ico' %}" alt="Order Icon" title="Ordonner par débit"/></a></div>
						</th>
						<th class="compta-form-montant">
							<div class='title-order-container'><div>Crédit</div><a href={{ ordering_links.pop }}><img class='order-icon' src="{% static 'img/order.ico' %}" alt="Order Icon" title="Ordonner par crédit"/></a></div>
						</th>
						{% for subvention_name in subventions_names %}
						<th class="compta-form-montant">{{ subvention_name }}</th>
						{% endfor %}
					</tr>
				</thead>
				{% endblock %}
				<tbody>
				{% block compta_form %}
				{% if request.session.edit %}
					<div class="new-ligne-compta">
						<form method='post' action='.'>
							{# on met en forme manuellement le formulaire permettant de rentrer une nouvelle ligne #}
							{{ ligne_form.non_field_errors }}
							<tr id="new-ligne-compta-errors">
								<td></td>
								<td class="compta-form-errors-container">
									{{ ligne_form.date.errors }}
								</td>
								<td class="compta-form-errors-container">
									{{ ligne_form.description.errors }}
								</td>
								<td class="compta-form-errors-container">
									{{ ligne_form.poste_depense.errors }}
								</td>
								<td colspan="2" class="compta-form-errors-container">
									{# on regroupe les messages des montants dans la même case #}
									{{ ligne_form.credit.errors }}
									{{ ligne_form.debit.errors }}
								</td>
								<td class="compta-form-errors-container" colspan="15">
								{{ deblocage_formset.non_form_errors }}
								{% for deblocage_form in deblocage_formset %}
									{{ deblocage_form.montant.errors }}
								{% endfor %}
								</td>
							</tr>

							<tr id="new-ligne-compta-form">
								<td></td>
								<td class="compta-form-date">
									{{ ligne_form.date }}
								</td>
								<td class="compta-form-description">
									{{ ligne_form.description }}
								</td>
								<td class="compta-form-poste">
									{{ ligne_form.poste_depense }}
								</td>
								<td class="compta-form-montant">
									{{ ligne_form.debit }}
								</td>
								<td class="compta-form-montant">
									{{ ligne_form.credit }}
								</td>
								{{ deblocage_formset.management_form }}
								{% for deblocage_form in deblocage_formset %}
									<td class="compta-form-montant">{{ deblocage_form.montant }}</td>
								{% endfor %}
								<td class="compta-form-validate" colspan="2">
									{% csrf_token %}
									<input type="submit" name="validation" value="Ajouter" />
								</td>
								
							<tr>									
						</form>
					</div>
				{% endif %}
				{% endblock %}
				{% for ligne in lignes %}
					<tr class="ligne-compta">
						<td class="compta-button-container">
							{# l'admin possède les liens pour lock la ligne, pas le modificateur normal #}
							{% if request.user.is_staff %}
								<a href={{ ligne.lock_unlock_self_link }}?next={{ request.get_full_path }}>
									{% if ligne.is_locked %}
										<img src="{% static 'img/locked.ico' %}" alt="Lock icone" class='lock_icon' title="Déverrouiller la ligne">
									{% else %}
										<img src="{% static 'img/blank.ico' %}" alt="Icone vide" class='blank_icon' title="Verrouiller la ligne">
									{% endif %}
								</a>
							{% else %}
								{% if ligne.is_locked %}
									<img src="{% static 'img/locked.ico' %}" alt="Lock icone" class='lock_icon' title="Ligne verrouillée">
								{% else %}
									<img src="{% static 'img/blank.ico' %}" alt="Icone vide" class='blank_icon' title="">
								{% endif %}
							{% endif %}
						</td>
						<td class="compta-form-date">{{ ligne.date|date:'d/m/Y' }}</td>
						{# si l'utilisateur peut éditer le journal, le lien de la description l'amène directement à edit. Sinon à view #}
						{% if request.session.edit and not ligne.is_locked or request.user.is_staff %}
							<td class="compta-form-description"><a href={{ ligne.edit_self_link }}>{{ ligne.description }}</a></td>
						{% else %}
							<td class="compta-form-description"><a href={{ ligne.view_self_link }}>{{ ligne.description }}</a></td>
						{% endif %}
						<td class="compta-form-poste">{{ ligne.poste_depense|default_if_none:"" }}</td>
						<td class="compta-form-montant">{% if ligne.debit %}{{ ligne.debit|default_if_none:"" }}{% endif %}</td>
						<td class="compta-form-montant">{% if ligne.credit %}{{ ligne.credit|default_if_none:"" }}{% endif %}</td>
						{% for nom_vague, deblocage in ligne.get_deblocages %}
							<td class="compta-form-montant">
								<div class="compta-deblocage">
									{% if deblocage %}{{ deblocage|default_if_none:"" }}{% endif %}
								</div>
							</td>
						{% endfor %}
						{% if request.session.edit and not ligne.is_locked or request.user.is_staff %}
							<td class="compta-button-container">
								<a href={{ ligne.edit_self_link }}>
									<img src="{% static 'img/edit.ico' %}" alt="Edit icone" class='edit_icon' title="Modifier la ligne"/>
								</a>
							</td>
							<td class="compta-button-container">
								<a href={{ ligne.delete_self_link }}>
									<img src="{% static 'img/delete.ico' %}" alt="Delete icone" class='delete_icon' title="Supprimer la ligne"/>
								</a>
							</td>
						{% else %}
							<td colspan="2">
						{% endif %}
					</tr>
				{% endfor %}
				</tbody>
				<tfoot>
				{# pour la dernière ligne on affiche les totaux #}
					<div class="last-line">
						<tr>
							<th colspan="4"></th>
							<th class="compta-form-montant">{{ debit_subtotal }}</th>
							<th class="compta-form-montant">{{ credit_subtotal }}</th>
							{% for subvention in subventions_binet %}
							<th class="compta-form-montant">
								<div class="compta-deblocage">{{ subvention.get_deblocages_total }}</div>
							</th>
							{% endfor %}
						</tr>
						{% for subvention in subventions_binet %}
							<tr>
								<td colspan="2"></td>
								<td class="compta-form-description" colspan='3'>
									<div class="compta-deblocage">
										<a href="../binet_subventions">Déblocage {{ subvention.vague }}</a>
									</div>
								</td>
								<td class="compta-form-montant">
									<div class="compta-deblocage">
										{{ subvention.get_deblocages_total }}
									</div>
								</td>
							</tr>
						{% endfor %}
						<tr>
							<th colspan="4"></th>
							<th class="compta-form-montant">{{ debit_total }}</th>
							<th class="compta-form-montant">{{ credit_total }}</th>
						</tr>
						<tr>
							<th colspan="4"></th>
							<th class="compta-form-montant">Balance :</th>
							<th class="compta-form-montant">
								{% if is_positive %}
								<div class=compta-positive>
									{{ balance }}
								</div>
								{% else %}
								<div class="compta-negative">
									{{ balance }}
								</div>
								{% endif %}
							</th>					
						</tr>
					</div>
				</tfoot>
			</table>
		</div>
		{% endblock %}
	</section>
{% endblock %}