{% extends 'base.html' %}

{% block content %}

	<div id="page-title">Mes binets</div>
	<section id="table-container">
		<table id="liste-binets">
			<thead class="liste-binets">
				<tr>
					<th class="nom-binet">Binet</th>
					<th class="binet-promotion">Promotion</th>
					<th class="binet-description">Description</th>
					<th class="role-in-binet">Rôle</th>
				</tr>
			</thead>
			<tbody>
				{% for mandat in liste_mandats %}
					<tr class="mandat">
						<td class="nom-binet">
							<strong><a href={{ mandat.get_mandat_journal }}>{{ mandat.binet }}</a></strong>
						</td>
						<td class="binet-promotion">{{ mandat.promotion }}</td>
						<td class="binet-description">
							{{ mandat.binet.description }}
						</td>
						<td class="role-in-binet">
						{# on affiche aussi le rôle dans le binet #}
						{% if mandat.president == user %}
							président
						{% elif mandat.tresorier == user %}
							trésorier
						{% elif user.is_staff %}
							kessier
						{% endif %}
						</td>
					</tr>

				{% endfor %}
			</tbody>
		</table>
	</section>
{% endblock %}