{% extends 'base.html' %}
{% load static %}

{% block content %}

	<div id="page-title">Mes binets</div>
	<section id="table-container">
		<table id="liste-binets">
			<thead class="liste-binets">
				<tr>
					<th class="nom-binet">
						<div class='title-order-container'><div>Binet</div><a href={{ ordering_links.pop }}><img class='order-icon' src="{% static 'img/order.ico' %}" alt="Order Icon" title="Ordonner par binet"/></a></div>
					</th>
					<th class="binet-promotion">
						<div class='title-order-container'><div>Promotion</div><a href={{ ordering_links.pop }}><img class='order-icon' src="{% static 'img/order.ico' %}" alt="Order Icon" title="Ordonner par promo"/></a></div>
					</th>
					<th class="binet-description">Description</th>
					<th class="role-in-binet">Rôle</th>
					<th class='role-in-binet'>
						<div class='title-order-container'><div>Type</div><a href={{ ordering_links.pop }}><img class='order-icon' src="{% static 'img/order.ico' %}" alt="Order Icon" title="Ordonner par type de binet"/></a></div>
					</th>
					<th>
						<div class='title-order-container'><div>Actif</div><a href={{ ordering_links.pop }}><img class='order-icon' src="{% static 'img/order.ico' %}" alt="Order Icon" title="Ordonner par passé"/></a></div>
					</th>
					
				</tr>
			</thead>
			<tbody>
				{% for mandat in liste_mandats %}
					<tr class="mandat">
						<td class="nom-binet">
							<strong><a href={{ mandat.get_mandat_journal }}>{{ mandat.binet }}</a></strong>
						</td>
						<td class="binet-promotion">{{ mandat.promotion }}</td>
						<td class="binet-description">
							{{ mandat.binet.description }}
						</td>
						<td class="role-in-binet">
						{# on affiche aussi le rôle dans le binet #}
						{% if mandat.president == user %}
							président
						{% elif mandat.tresorier == user %}
							trésorier
						{% elif user.is_staff %}
							kessier
						{% endif %}
						</td>
						<td class='role-in-binet'>
							{{ mandat.type_binet }}
						</td>
						<td>
							{% if mandat.is_active %}
								Actif
							{% else %}
								Passé
							{% endif %}
						</td>
						
					</tr>

				{% endfor %}
			</tbody>
		</table>
	</section>
{% endblock %}