{% extends 'compta/journal.html' %}
{# cette page récupère le menu de la page journal #}
{% load static %}

{% block compta_page %}
	<div id="compta-table-container">
		<div id="view-ligne-title">
			Remarques sur le mandat
		</div>
		<div id="comments-container">
			<div id="main-comment">
				{{ mandat.remarque }}
			</div>
			{% for ligne in lignes %}
			{% if ligne.commentaire %}
			<div class="comment-ligne-container">
				<table id="compta-table">
					<thead>
						<tr>
							<th>
								Effectée le
							</th>
							<th class="compta-form-description">
								Description
							</th>
							<th class="compta-form-montant">
								Débit
							</th>
							<th class="compta-form-montant">
								Crédit
							</th>
							{% for subvention in subventions_binet %}
							<th class="compta-form-montant">{{ subvention.vague.type_subvention }} {{ subvention.vague.annee }}</th>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						<tr class="ligne-compta">
							<td class="compta-form-date">{{ ligne.date|date:'d/m/Y' }}</td>
							{# si l'utilisateur peut éditer le journal, le lien de la description l'amène directement à edit. Sinon à view #}
							{% if request.session.edit %}
								<td class="compta-form-description"><a href={{ ligne.edit_self_link }}>{{ ligne.description }}</a></td>
							{% else %}
								<td class="compta-form-description"><a href={{ ligne.view_self_link }}>{{ ligne.description }}</a></td>
							{% endif %}
							<td class="compta-form-montant">{% if ligne.debit %}{{ ligne.debit|default_if_none:"" }}{% endif %}</td>
							<td class="compta-form-montant">{% if ligne.credit %}{{ ligne.credit|default_if_none:"" }}{% endif %}</td>
							{% for nom_vague, deblocage in ligne.get_deblocages %}
								<td class="compta-form-montant">
									<div class="compta-deblocage">
										{% if deblocage %}{{ deblocage|default_if_none:"" }}{% endif %}
									</div>
								</td>
							{% endfor %}
							{% if request.session.edit %}
								<td class="compta-button-container">
									<a href={{ ligne.edit_self_link }}>
										<img src="{% static 'img/edit.ico' %}" alt="Edit icone" class='edit_icon' title="Modifier la ligne"/>
									</a>
								</td>
								<td class="compta-button-container">
									<a href={{ ligne.delete_self_link }}>
										<img src="{% static 'img/delete.ico' %}" alt="Delete icone" class='delete_icon' title="Supprimer la ligne"/>
									</a>
								</td>
							{% endif %}
						</tr>
					</tbody>
				</table>
				<div class="comment-commentaire">
					{{ ligne.commentaire }}
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock %}