{% extends "base.html" %}

{% block content %}
<div class='container'>
<div class='row'>
<div class = 'col-sm-6 col-sm-offset-3 encadre'>
<div class = 'row txtcentre'>
	<h2>Se connecter</h2>
</div>
	{% if error %}
		<div class='row'><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></div>
	{% endif %}

	{% if user.is_authenticated %}
		<div class='row'>Vous êtes connecté, {{ user.username }} !</div>
	{% else %}
<div class='row'>
		<form method="post" action="./login">
	<div class='row txtcentre'>
	    	{% csrf_token %}
	    	{{ form.as_p }}
</div>
	<div class='row txtcentre'>
		    <input class='btn btn-default' type="submit" value="Se connecter" />
	</div>
		</form>
</div>
	{% endif %}

	<div class='row txtdroite'>
		<a href="create">Créer un compte</a>
	</div>
</div>
</div>
</div>
{% endblock %}
