{% extends 'base.html' %}

{% block content %}
	<h2>Interface d'administration</h2>
	<p>Bienvenue sur l'interface d'administration. Normalement tu es kessier si tu es là.</p>
	<ul>
		<li><a href="/admin">Administration Django (normalement tu as pas besoin d'aller là)</a></li>
		<li><a href="import_eleves">Ajouter des utilisateurs via Excel</a></li>
		<li><a href="import_binets">Ajouter des binets via Excel</a></li>
		<li><a href="import_subventions">Importer des subventions</a></li>
		<li><a href="import_liste_binets_officielle">Importer la liste officielle des binets</a></li>
		<li><a href="/accounts/create_local_account?previous=/backend">Créer un compte utilisateur local</a></li>
		<li><a href="export_mailing_lists/">Exporter les listes de diffusion</a></li>
	</ul>

{% endblock %}