{% extends 'base.html' %}

{% block content %}
	<h1>Validation des imports</h1>
	{% if user.is_staff %}
		{% if sent %}
			{# on utilise la même page pour afficher le succès et l'échec. #}
			<ul>
			{% for message in request.session.messages %}
				<li>{{ message }}</li>
			{% endfor %}
			</ul>
			<form action="../">
			    <input type="submit" value="Retour" />
			</form>
		{% else %}
			{# affichage initial: on affiche les élèves avec les boutons de validation #}
			<p>Importer les binets suivants ?</p>
			<ul>
			{% for binet, type, promotion, president, tresorier in imported_binets_list %}
				<div class="binet">
					<li><strong>{{ binet}}</strong> {{ type}} {{ promotion }} {{ president }} {{ tresorier }}</li>
				</div>
			{% endfor %}
			</ul>
			<form method="post" action=".">
			    {% csrf_token %}
			    <input type="submit" name="validation" value="Valider" />
			    <input type="submit" name="validation" value="Annuler" />
			</form>
		{% endif %}
	{% endif %}
{% endblock %}