{% extends 'base.html' %}

{% block content %}
<div class='binet-title-and-return-container'>
		<div class="binets-return-button print-hidden">
			<form action="../">
				<input type="submit" value="Retour" />
			</form>
		</div>
		<h3>Exportation de listes de diffusion</h3>
		<div class='binets-return-button print-hidden'>
		</div>
	</div>
	<div class='txtcentre'>
		<p><a href="actifs/">Tous les mandats actifs</a></p>
		{% for promotion in promotions %}
			<p><a href="actifs/{{ promotion }}">Mandats actifs promotion {{ promotion }}</a></p>
			<p><a href="promotion/{{ promotion }}">Tous les mandats promotion {{ promotion }}</a></p>

		{% endfor %}
	</div>

{% endblock %}