{% extends 'base.html' %}

{% block content %}
	<div class='binet-title-and-return-container'>
		<div class="binets-return-button print-hidden">
			<form action="../">
				<input type="submit" value="Retour" />
			</form>
		</div>
		<h3>Listes de diffusion</h3>
		<div class='binets-return-button print-hidden'>
		</div>
	</div>
	<ul>
		{% for type_binet, presidents, tresoriers in ordered_data %}
			<li>
				{{ type_binet }}<br>
				<ul>
					<li>
						Présidents<br>
						{% for president in presidents %}
							{{ president.email }}; 
						{% endfor %}
					</li>
					<li>
						Trésoriers<br>
						{% for tresorier in tresoriers %}
							{{ tresorier.email }}; 
						{% endfor %} 
					</li>
				</ul>
			</li>
		{% endfor %}
	</ul>

{% endblock %}