{% extends 'base.html' %}
{% load static %}


{% block content %}
	<h1>Importer une vague de subventions</h1>
	<p>Attention, pour être accepté, votre fichier doit être au format .xls avec comme colonnes "Binet|Promotion|Demandé|Accordé|Postes" (écrites en haut des colonnes)</p>
	<img src="{% static 'img/import_binets_excel.png' %}" />
	<form enctype="multipart/form-data" method="post" action=".">
	    {% csrf_token %}
	    {{ vague_form.as_p }}
	    {{ import_form.as_p }}
		<input type="submit" name="validation" value="Upload" />
	</form>

{% endblock %}