{% extends 'base.html' %}

{% load static %}

{% block content %}
	<section class="binet-title-and-return-container">
		<div class="binets-return-button">
			<form action="../">
				<input type="submit" value="Retour" />
			</form>
		</div>
		<h3 class='print-hidden'>Liste des subventions</h3>
		<div class='binets-side-button'>
			{% if request.user.is_staff %}
				<a href="/backend/import_subventions/">
					<img src="{% static 'img/upload.png' %}" alt="Upload icon large" class='add-icon-large' title="Ajouter une vague de subventions">
				</a>
			{% endif %}
		</div>
	</section>
	<section>
		<div class="txtcentre">
		{% for annee, vagues in vagues_subventions %}
			{{ annee }}
			{% for vague in vagues %}
				<p><a href={{ vague.view_self_url }}>Subventions {{ vague.type_subvention }} {{ vague.annee }}</a></p>
			{% endfor %}
		{% endfor %}
		</div>
	</section>
{% endblock %}