<!DOCTYPE html>

{% load static %}

<html lang="fr">

<head>
  <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
  <link rel="stylesheet" type="text/css" media='screen' href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" type="text/css" media='screen' href="{% static 'css/dist/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" media='screen' href="{% static 'css/listes_binets.css' %}" />
  <link rel="stylesheet" type="text/css" media='screen' href="{% static 'css/compta.css' %}" />
  <link rel="stylesheet" type="text/css" media='screen' href="{% static 'css/subventions.css' %}" />
  <link rel="stylesheet" type="text/css" media='screen' href="{% static 'css/passations.css' %}" />
  <link rel="stylesheet" type="text/css" media='screen' href="{% static 'css/circuitdepart.css' %}" />

  <link rel="stylesheet" type="text/css" media="print" href="{% static 'css/print.css' %}" />
  <script src="{% static 'css/jquery.js' %}"></script>
  <script src="{% static 'css/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'css/dist/js/bootstrap.js' %}"></script>
  <title>{% block title %}Balise{% endblock %}</title>
</head>

<body>
  <header>
    <a href="/"><img src="{% static 'img/balise_vectorisee_logo_sans_fond.svg' %}" alt="Logo Balise" class='centre' /></a>
  </header>

  <nav class='navbar navbar-default'>
  	<div class='container-fluid kesdorado'>
      <div class='navbar-header'>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#onglets" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class='navbar-brand'><p class='kesdorado'>Accueil</p></a>
      </div>
      {% block nav %}
        <div class='collapse navbar-collapse' id='onglets'>
          <ul class='nav navbar-nav'>

            {% if user.is_authenticated %}
              <li><a href="/binets" class='navbar-brand'><p class='kesdorado'>Liste des binets</p></a></li>
              <li><a href="/subventions" class='navbar-brand'><p class='kesdorado'>Subventions</p></a></li>
              <li><a href="/compta" class='navbar-brand'><p class='kesdorado'>Compta</p></a></li>

              {% if user.is_staff %}
                <li><a href="/backend" class='navbar-brand'><p class='kesdorado'>Administration</p></a></li>
                <li><a href="/compta/seance_cheques" class='navbar-brand'><p class='kesdorado'>Séance de chèques</p></a></li>
                <li><a href="/passations" class='navbar-brand'><p class='kesdorado'>Passations</p></a></li>
                <!--<li><a href="/vos" class='navbar-brand'><p class='kesdorado'>Tableau de bord</p></a></li>-->
              {% endif %}

              {% if perms.accounts.see_circuitdepart %}
                <li><a href="/circuitdepart" class='navbar-brand'><p class='kesdorado'>Circuit de départ</p></a></li>
              {% endif %}
              {% if perms.compta.validate_polymedia %}
                <li><a href="/compta/polymedia" class='navbar-brand'><p class='kesdorado'>Polymédia</p></a></li>
              {% endif %}
                <li><a href="/logout" class='navbar-brand'><p class='kesdorado'>Déconnexion</p></a></li>
            {% endif %}
          </ul>
          {% if user.is_authenticated %}
            <div class='nav navbar-nav navbar-right'>
              <a href="/accounts" class='navbar-brand'><p class='kesdorado'><!--Connecté en tant que --><u>{{ user.username }}</u></p></a>
            </div>
          {% endif %}
        </div>
      {% endblock %}
  	</div>
  </nav>

<section id="content" class='marge-bas'>
  <div class='container'>
     {% block content %}{% endblock %}
  </div>
</section>

<footer>&copy; Balise 2017 - Développement François Farge et Jean-Baptiste de Cagny</footer>
</body>

</html>
