<!DOCTYPE html>

{% load static %}

<html lang="fr">

<head>
   <link rel="stylesheet" href="/media/css/style.css" />
   <title>{% block title %}Balise{% endblock %}</title>
</head>

<body>
  <header>
    <img src="{% static 'img/Balise_2.png' %}" alt="Logo Balise" />
  </header>
  <nav>
     {% block nav %}
     <ul>
          <li><a href="/">Accueil</a></li>
          {% if user.is_authenticated %}
            <li><a href="/binets">Liste des binets</a></li>
            <li><a href="/compta">Compta</a></li>
            {% if user.is_staff %}<li><a href="/backend">Administration</a></li>{% endif %}
            <li><a href="/accounts/logout">Déconnexion</a></li>
            <p>Connecté en tant que <a href="/accounts">{{ user.username }}</a></p>
          {% else %}
            <li><a href="/accounts/login">Connexion</a></li>
          {% endif %}
     </ul>
     {% endblock %}

 </nav>

 <section id="content">

     {% block content %}{% endblock %}

 </section>

<footer>&copy; Balise 2017 - Développement François Farge et Jean-Baptiste de Cagny</footer>

</body>

</html>
