{% extends "base.html" %}

{% block content %}
<div class='container'>
<div class='row'>
<div class='col-sm-12 txtcentre'>
	<h2>Site de comptabilité en ligne pour les binets</h2>
</div></div>
<div class='row'><br/></div>
<div class='row'>
<div class='col-sm-12'>Bienvenue sur Balise, le site de comptabilité en ligne pour les binets, il est en cours de développement par François Farge et Jean-Baptiste de Cagny.</br>
		A terme il sera utilisé par tous les binets.
	</div>	
</div>
</div>
{% endblock %}
