{% extends 'base.html' %}

{% block content %}
	<div id="page-title">Liste des binets actifs</div>
	<section id="table-container">
		<table id="liste-binets">
			<thead class="liste-binets">
				<tr>
					<th class="nom-binet-head">Binet</th>
					<th class="binet-user-head">Président</th>
					<th class="binet-user-head">Trésorier</th>
				</tr>
			</thead>
			<tbody>
				{% for binet in liste_binets %}
					<tr class="mandat">
						<td class="nom-binet">
							Binet <strong><a href={{ binet.get_history_url }}>{{ binet.nom }}</a> </strong> ({{ binet.get_latest_mandat.promotion }})
						</td>
						<td class="binet-user">
							<a href={{ binet.get_latest_mandat.president.eleve.get_infos_url }}>{{ binet.get_latest_mandat.president }}</a>
						</td>
						<td class="binet-user">
							<a href={{ binet.get_latest_mandat.tresorier.eleve.get_infos_url }}>{{ binet.get_latest_mandat.tresorier }}</a>
						</td>
					</tr>

				{% endfor %}
			</tbody>
		</table>
	</section>
{% endblock %}