{% extends 'base.html' %}

{% load static %}

{% block content %}
	<div id="page-title">Liste des binets</div>
	<form id="searchform" action="{{ request.get_full_path }}" method="get" accept-charset="utf-8">
      <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Rechercher">
      <button class="searchbutton" type="submit" value="Rechercher">
<!--         <i class="fa fa-search"></i>
 -->      </button>
    </form>
	<section id="table-container">
		<table id="liste-binets">
			<thead class="liste-binets">
				<tr>
					<th class="nom-binet"><div class='title-order-container'><div>Binet</div><a href={{ ordering_links.pop }}><img class='order-icon' src="{% static 'img/order.ico' %}" alt="Order Icon" title="Ordonner par binet"/></a></div></th>
					<th class="binet-promotion"><div class='title-order-container'><div>Promotion</div><a href={{ ordering_links.pop }}><img class='order-icon' src="{% static 'img/order.ico' %}" alt="Order Icon" title="Ordonner par promo"/></a></div></th>
					<th class="binet-description">Description</th>
					<th class="binet-user">Président</th>
					<th class="binet-user">Trésorier</th>
				</tr>
			</thead>
			<tbody>
				{% for binet in liste_binets %}
					<tr class="mandat">
						<td class="nom-binet">
							<strong><a href={{ binet.get_history_url }}>{{ binet.nom }}</a> </strong>
						</td>
						<td class="binet-promotion">{{ binet.get_latest_mandat.promotion }}</td>
						<td class="binet-description">
							{{ binet.description }}
						</td>
						<td class="binet-user">
							<a href={{ binet.get_latest_mandat.president.eleve.get_infos_url }}>{{ binet.get_latest_mandat.president }}</a>
						</td>
						<td class="binet-user">
							<a href={{ binet.get_latest_mandat.tresorier.eleve.get_infos_url }}>{{ binet.get_latest_mandat.tresorier }}</a>
						</td>
					</tr>

				{% endfor %}
			</tbody>
		</table>
	</section>
{% endblock %}