{% extends 'base.html' %}

{% load static %}

{% block content %}
	<div class='binet-title-and-return-container'>
		<div class="binets-return-button">
			<form action={{ next }}>
				<input type="submit" value="Retour" />
			</form>
		</div>
		<h3>Binet {{ binet }}</h3>
		<div class='binets-side-button'>
			{% if request.user.is_staff %}
				<a href={{ binet.hide_unhide_self_url }}?next={{ request.get_full_path }}>
					{% if binet.is_hidden %}
						<img src="{% static 'img/stop_view.png' %}" alt="Unview icon large" class='edit-icon-large' title="Le binet est caché de la liste publique">
					{% else %}
						<img src="{% static 'img/view.png' %}" alt="View icon large" class='edit-icon-large' title="Le binet est affiché dans la liste publique">
					{% endif %}
				</a>
			{% endif %}
			{% if perms.binets.change_binet %}
				<a href={{ binet.edit_self_url }}><img src="{% static 'img/edit.png' %}" alt="Edit icon large" class='edit-icon-large' title="Modifier le binet"></a>
			{% endif %}
			{% if perms.binets.add_mandat %}
				<a href={{ binet.new_mandat_for_self_url }}><img src="{% static 'img/add.png' %}" alt="Add icon large" class='add-icon-large' title="Nouveau mandat pour ce binet"></a>
			{% endif %}
		</div>
	</div>
	<div class="binet-description-full">
		{{ binet.description }}
	</div>
	{% if request.user.is_staff %}
		<div class="binet-description-full">
			Remarques pour les kessiers : {{ binet.remarques_admins|default_if_none:"Aucune remarque" }}<br>
			Catégories du binet : {% for categorie in categories %}{{ categorie }}, {% endfor %}
		</div>
	{% endif %}
	<table id="liste-binets">
		<thead>
			<tr class="">
				<th class="txtcentre">Mandat</th>
				<th class='txtcentre'>Président</th>
				<th class='txtcentre'>Trésorier</th>
				{% if request.user.is_staff %}
					<th class='txtcentre'>Type</th>
					<th class='txtcentre'>Dépenses</th>
					<th class='txtcentre'>Recettes</th>
					<th class='txtcentre'>Balance</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for available_mandat in liste_mandats %}
				<tr class="mandat">
					<td class="nom-binet">
						<div class="txtcentre">
							{% if request.user in available_mandat.get_authorized_users.view or request.user.is_staff %}
								Binet 
								<strong><a href="{{ available_mandat.get_mandat_journal }}?previous={{ request.get_full_path }}" title="Voir la compta">{{ available_mandat.binet }} ({{ available_mandat.promotion }})</a></strong>
							{% else %}
								Binet 
								<strong>{{ available_mandat.binet }} ({{ available_mandat.promotion }})</strong>
							{% endif %}
						</div>
					</td>
					<td class='txtcentre'><a href={{ available_mandat.president.eleve.get_infos_url }}>{{ available_mandat.president }}</a></td>
					<td class='txtcentre'><a href={{ available_mandat.tresorier.eleve.get_infos_url }}>{{ available_mandat.tresorier }}</a></td>
					{% if request.user.is_staff %}
						<td class='txtcentre'>{{ available_mandat.type_binet }}</td>
						<td class='txtcentre'>{{ available_mandat.get_totals.0 }}</td>
						<td class='txtcentre'>{{ available_mandat.get_totals.1 }}</td>
						<td class='txtcentre'>{{ available_mandat.get_balance }}</td>
						<td>
							<a href={{ available_mandat.set_last_not_last_self_url }}?next={{ request.get_full_path }}>
								{% if available_mandat.is_last %}
									<img src="{% static 'img/up_to_date.png' %}" alt="View icon large" class='view-icon-large' title="Le mandat est le plus récent">
								{% else %}
									<img src="{% static 'img/cemetery.png' %}" alt="Stop view icon large" class='view-icon-large' title="Le binet a été repris">
								{% endif %}
							</a>
						</td>
						<td>
							<a href={{ available_mandat.activate_deactivate_self_url }}>
								{% if available_mandat.is_active %}
									<img src="{% static 'img/unlock.png' %}" alt="Unlock icon large" class='view-icon-large' title="Le mandat est modifiable par ses membres">
								{% else %}
									<img src="{% static 'img/lock.png' %}" alt="Lock view icon large" class='view-icon-large' title="Le mandat est passé, seuls les kessiers peuvent le modifier">
								{% endif %}
							</a>
						</td>
						<td>
							<a href={{ available_mandat.edit_self_url }}>
								<img src="{% static 'img/edit.png' %}" alt="Edit icon large" class='view-icon-large' title="Modifier le mandat">
							</a>
						</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}