{% extends 'base.html' %}

{% load static %}

{% block content %}
	
	<form method='post' action=''>
		<div class="binet-title-and-return-container">
			<input type="submit" name="validation" value="Annuler" />
			<h3 id="page-title">Nouveau mandat pour le binet {{ binet.nom }}</h3>
			<input type="submit" name="validation" value="Valider" />
		</div>
		<div class="binet-description-full">
			{{ binet.description }}
		</div>
		<table>
			{# on met en forme manuellement le formulaire de création du mandat pour pouvoir mettre les liens vers la création des utilisateurs #}
			<tr>
				<td colspan='3'>
					{{ mandat_edit_form.non_field_errors }}
				</td>
			</tr>
			<tr>
				<th>
					Type du binet :
				</th>
				<td>
					{{ mandat_edit_form.type_binet.errors }}
					{{ mandat_edit_form.type_binet }}
				</td>
			</tr>
			<tr>
				<th>
					Président :
				</th>
				<td>
					{{ mandat_edit_form.president.errors }}
					{{ mandat_edit_form.president }}
				</td>
				<td>
					<a href='/accounts/create_local_account?previous={{ request.get_full_path }}'>
						<img src="{% static 'img/add.ico' %}" alt="Add Icon" title="Nouvel utilisateur"/>
					</a>
				</td>
			</tr>
			<tr>
				<th>
					Trésorier :
				</th>
				<td>
					{{ mandat_edit_form.tresorier.errors }}
					{{ mandat_edit_form.tresorier }}
				</td>
				<td>
					<a href='/accounts/create_local_account?previous={{ request.get_full_path }}'>
						<img src="{% static 'img/add.ico' %}" alt="Add Icon" title="Nouvel utilisateur"/>
					</a>
				</td>
			</tr>
			<tr>
				<th>
					Promotion :
				</th>
				<td>
					{{ mandat_edit_form.promotion.errors }}
					{{ mandat_edit_form.promotion }}
				</td>
			</tr>
			<tr>
				<th>
					{{ mandat_edit_form.description.label }}
				</th>
				<td>
					{{ mandat_edit_form.description.errors }}
					{{ mandat_edit_form.description }}
				</td>
			</tr>
			<tr>
				<th>
					{{ mandat_edit_form.remarques_admins.label }}
				</th>
				<td>
					{{ mandat_edit_form.remarques_admins.errors }}
					{{ mandat_edit_form.remarques_admins }}
				</td>
			</tr>
		</table>
		
		{% csrf_token %}
	</form>
{% endblock %}