{% extends 'base.html' %}

{% block content %}
	<h1>Tableau de bord du {{ vos_var.nom }}</h1>
<table class='table table-bordered'>
<tr>
<th>Chèque</th>
	{# on récupère la vue générée par la vue générique listView #}
	{% for cheque in liste_cheques %}
		<td>
			n°{{ cheque.ordre }}


		</td>
	{% endfor %}
</tr>
<tr>
<th>Montant</th>
	{# on récupère la vue générée par la vue générique listView #}
	{% for cheque in liste_cheques %}
		<td>
			{{ cheque.montant }}


		</td>
	{% endfor %}
</tr>
</table>
{% endblock %}
